/* 
    Document   : animations
    Created on : 29-aug-2013, 15:03:02
    Author     : jeroen
    Description:
        Animation functions !for production please prefix
*/


.fadeIn {
    opacity: 1;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}
.fadeOut {
    opacity: 0;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.slideUp {
    overflow: hidden;
    max-height: 0;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}
.slideDown {
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    max-height: 1000px;
    overflow: hidden;
}


